:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 8px;

  p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    margin-top: 0px;
    line-height: 24px;

    border-left: 4px solid #5222d0;
    padding-left: 12px;
  }
}
