<h2>About me</h2>

<div>
  <h4>Engenheiro de Software, Zup It Innovation | Ago 2023 – Atual</h4>
  <p>
    Participei do desenvolvimento de aplicações no setor bancário, com foco em
    produtos de câmbio do Banco Itaú. Atuei na criação de Webviews escaláveis
    com Angular, garantindo alta performance e boa experiência para o usuário.
    Colaborei com a definição da arquitetura de projetos e trabalhei diretamente
    na entrega de soluções utilizadas por milhares de usuários diariamente.
  </p>
  <h5>
    Stack: Angular, TypeScript, RxJS, REST APIs, WebComponents, MFE, Git, Scrum
  </h5>
</div>

<div>
  <h4>
    Jr. Engenheiro de Software (iOS), Zup It Innovation | Set 2021 - Set 2022
  </h4>
  <p>
    Atuei no SuperApp do Banco Itaú, com foco em funcionalidades do setor de
    cartões. Trabalhei na migração de arquitetura legada para uma nova baseada
    no padrão MVVM-C, criando e atualizando visualizações no app iOS.
  </p>

  <h5>Stack: Swift, UIKit, MVVM-C, Xcode, Git, Agile</h5>
</div>
