<app-header />
<section>
  <div>
    <span>Software developer</span>
    <h1>Thiago Pereira</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate saepe
      error cupiditate veritatis eius, praesentium consequatur dolorum sapiente
      ab non natus recusandae modi ratione in magnam? Beatae delectus laudantium
      libero.
    </p>
    <button-primary text="Download CV"></button-primary>
  </div>
  <image-header></image-header>
</section>
<about />
<social-media />
