<app-header />
<section>
  <div>
    <span>Software Developer</span>
    <h1>Thiago Pereira</h1>
    <p>
      Com mais de quatro anos de experiência como desenvolvedor de software,
      participei de diversos projetos, incluindo entregas para empresas como
      Itaú, Iti, MoveMoney e Tidmo. Durante essa jornada, adquiri experiência
      prática na aplicação de resolução de problemas no desenvolvimento,
      entregando aplicações escaláveis, performáticas e com foco em gerar valor
      para o negócio.
    </p>
    <button-primary text="Download CV" [onClick]="baixarPDF"></button-primary>
  </div>
  <image-header></image-header>
</section>
<about />
<list-projects />
<button-primary
  text="Ver todos os projetos"
  [onClick]="redirectGithub"
></button-primary>
<social-media />
<app-footer />
